@import '../constants.scss';

.forecast {
  &_title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
  }
  .text-black {
    color: $black;
  }
  .text-gray {
    color: $defaultFontColor;
  }
  .fs-xxxl {
    font-size: 48px;
  }
  .fs-xxl {
    font-size: 36px;
  }
  .fs-xl {
    font-size: 24px;
  }
  .fs-l {
    font-size: 18px;
  }
  .fs-xm {
    font-size: 14px;
  }
  .fs-m {
    font-size: 13px;
  }
  .fs-s {
    font-size: 11px;
  }
  .fs-xs {
    font-size: 10px;
  }
  .fw-400 {
    font-weight: 400;
  }
}
